<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Givu Me The Money</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
  <form action="/receipt/submit" method="POST" enctype="multipart/form-data">
    <label class="image">영수증 첨부:</label><br>
    <input type="text" name="donationId" th:value="${donationId}" hidden="hidden">
    <input type="file" id="receipt" name="receipt" multiple="multiple"><br><br>
    <input type="submit" value="신청">
  </form>
</body>
</html>