<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>Givu Me The Money</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/payments.css">
  </head>

  <body class="homepage is-preload">

    <div id="page-wrapper">
      <header th:replace="layouts/header::header"></header>
      <div class="container">
        <h1>GIVU ME THE MONEY</h1>
        <hr>
        <h2>기부 금액</h2>
        <form action="/widget.html" method="post" id="payment-form">
          <div class="donation-amounts">
              <button type="button" class="amount" value="500">500원</button>
              <button type="button" class="amount" value="1000">1,000원</button>
              <button type="button" class="amount" value="3000">3,000원</button>
              <button type="button" class="amount" value="5000">5,000원</button>
              <button type="button" class="amount" value="10000">10,000원</button>
              <button type="button" class="amount" value="15000">15,000원</button>
              <button type="button" class="amount" value="30000">30,000원</button>
              <button type="button" class="amount" value="50000">50,000원</button>
          </div>
          <div class="custom-amount">
              <input type="text" name="customAmount" placeholder="직접 입력" aria-label="Custom Amount">
          </div>

          <!-- 결제하기 버튼을 submit으로 변경 -->
          <button type="submit" class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
        </form>
      </div>
    </div>
    
    <header th:replace="layouts/footer::footer"></header>

    <script>
      // 금액 버튼을 선택하여 클릭 이벤트를 등록
      const amountButtons = document.querySelectorAll(".amount"); // 모든 금액 버튼 선택
        let selectedAmount = 0; // 선택된 금액 저장 변수

        amountButtons.forEach((button) => {
            button.addEventListener("click", function () {
                selectedAmount = button.value; // 선택된 금액 저장
                console.log("선택된 금액: ", selectedAmount); // 선택된 금액 출력

                // hidden input 추가
                let hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'amount'; // 서버에 전달할 파라미터 이름
                hiddenInput.value = selectedAmount; // 선택된 금액 값
                document.getElementById("payment-form").appendChild(hiddenInput);
            });
        });
    </script>
  </body>

</html>