<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Givu Me The Money</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/payments.css">
    <!-- 아래 스크립트 코드가 있어야 결제 위젯이 뜸 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>


<body class="homepage is-preload">
  <div id="page-wrapper">

    <header th:replace="layouts/header::header"></header>
    <div class="container">
        <h1>기부 ME THE MONEY</h1>
        <hr>
        <h2>기부 금액</h2>
        <div class="donation-amounts">
            <button class="amount">500원</button>
            <button class="amount">1,000원</button>
            <button class="amount">3,000원</button>
            <button class="amount">5,000원</button>
            <button class="amount">10,000원</button>
            <button class="amount">15,000원</button>
            <button class="amount">30,000원</button>
            <button class="amount">50,000원</button>
        </div>
        <div class="custom-amount">
            <input type="text" placeholder="직접 입력" aria-label="Custom Amount">
        </div>

        <!-- 결제 UI -->
        <div id="payment-method"></div>
        <!-- 이용약관 UI -->
        <div id="agreement"></div>
        <!-- 결제하기 버튼 -->
        <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
  
        <!-- <button class="submit">결제</button> -->
    </div>


    <script>
        main();
  
        async function main() {
          const button = document.getElementById("payment-button");
          // ------  결제위젯 초기화 ------
          const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
          const tossPayments = TossPayments(clientKey);
          // 회원 결제
          const customerKey = "rvu9KeS25NEP7gWvx6d9N";
          const widgets = tossPayments.widgets({
            customerKey,
          });
          // 비회원 결제
          // const widgets = tossPayments.widgets({ customerKey: TossPayments.ANONYMOUS });
  
          // ------ 주문의 결제 금액 설정 ------
          await widgets.setAmount({
            currency: "KRW",
            value: 50000,
          });
  
          await Promise.all([
            // ------  결제 UI 렌더링 ------
            widgets.renderPaymentMethods({
              selector: "#payment-method",
              variantKey: "DEFAULT",
            }),
            // ------  이용약관 UI 렌더링 ------
            widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
          ]);
  
          // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
          button.addEventListener("click", async function () {
            await widgets.requestPayment({
              orderId: "UwWzfop68Q-vW68WqF23b",
              orderName: "토스 티셔츠 외 2건",
              successUrl: window.location.origin + "/success.html",
              failUrl: window.location.origin + "/fail.html",
              customerEmail: "customer123@gmail.com",
              customerName: "김토스",
              customerMobilePhone: "01012341234",
            });
          });
        }
      </script>
      <header th:replace="layouts/footer::footer"></header>
  </div>
</body>
</html>
